body{
 display:flexbox;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#164cdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  align-items: center;      /* Centers vertically */
  justify-content: center;
  display: flex;
}
div{
  display: inline-block; 
  /* display: flex; */
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; 
}
div h2{
  text-align: center;
  background-color: aqua;;
}
div p{
  background-color: antiquewhite;

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
