body{
 display:flexbox;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#164cdf;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#Website_icon{
  display:grid;
  margin-left: auto;
  margin-right: auto;
  width: 20px; 
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px; /* Setting a width is important */
}

a{
  align-items: center;      /* Centers vertically */
  justify-content: center;
  display: flex;
}

div{
  display: inline-block; 
  /* display: flex; */
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; 
}
div h2{
  text-align: center;
  background-color: aqua;
}
div p{
  background-color: antiquewhite;
}
