body{
 background:whitesmoke;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#164cdf;
  display: flex;
  align-items: center;
  justify-content: center;
}
#builds{
  border-style: outset;
  width: 1335px;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#gfind{
  color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1300px;
  height: 30px;
}
#gfind:focus {
  border-color: #ff5722;        
  background-color: #fff;
}
#option1{
  color:black;
}

textarea{
  color: black;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1000px;
  height: 20px;
}
#details{
  color:black;
}
#interest{
  color: aquamarine;
}
button{
  width: 80px;
  height: 20px;
}

#Website_icon{
  display:grid;
  margin-left: auto;
  margin-right: auto;
  width: 20px; 
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px; 
}

a{
  align-items: center;      /* Centers vertically */
  justify-content: center;
  display: flex;
}

.div{
display: inline-block; 
justify-content: center;
padding: 20px;
border-radius: 10px;
border: 1px solid #ccc; 
background-image: url(/images/background_image_web.jpg);
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
background-attachment: scroll;
}
.div h2{
  text-align: center;
  background-color: aqua;
}
.div p{
  background-color: antiquewhite;
}
